nav ul{
	
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
}

nav li{
	 margin:0 1em;
}

nav a {
	text-decoration:none;
	color: black;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover, 
nav a :focus{
	color : white;
}

.current-page{
  border-bottom: 2px solid black;
  padding: 15px;
}

.current-page: hover {
	color:solid black;
}

/*2nd page  */

main {
	transform : rotate(90deg);
}