nav ul{
	
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
}

nav li{
	 margin:0 1em;
}

nav a {
	font-family:"Brush Script MT", cursive;
	text-decoration:none;
	color: black;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover, 
nav a :focus{
	color : white;
}

@Keyframes mymove {
	from{background-color:red;}
	to{background-color: blue;}
}

.mymove{
    animation:mymove 10s infinite;
}

.current-page{
  border-bottom: 2px solid black;
  padding: 15px;
  color:solid black;
  
}

.current-page: hover {
	color:solid black;
	
}


body {
	margin:0;
	text-align: center;
	
}

main{
	
	align-items: center;
	margin: 0 auto;
	max-width:98%;
	border: 1px solid black;
	
	
	
}

img{
	width:30%;
	transform : rotate(90deg);
	border: 1px solid black;
	margin: 5%;	
	padding: 1%;
	object-fit: scale-down;
	transition: 6s linear;
}

img: hover{
	transform:rotatey(360deg);
	
}
 

	

.row{
	flex:50%;
}

.column{
	flex:50%
}

/*.a{
	display:flex;
	flex-direction:column;
	align-items: stretch;
}

img: hover{
	transform:rotatey(360deg);
	 clip(1%,1%,97%,1%);	
}



/*	
	object-fit: scale-down;
	position:relative;
   
}
	

/*img  {
    width: 200px;
	object-fit: cover;
    padding: 0px;
	transform : rotate(90deg);
	border: none;
	display:block;
	margin: 0 auto;
	max-width:400px;
	border: 1px solid black;
	position : relative;
	top: 24px;
}


/* 
img {
    position: absolute;
    clip: rect(20px,60px,200px,0px);
}
Values:
clip: rect(top offset, visible width, visible height, left offset)

The first number indicates the top offset - the top edge of the clipping window.
The second number is the width of the clipping window plus the left offset(last number).
The third number is the height of the clipping window plus the top offset(first number).
The last number indicates the left offset - the left edge of the clipping window.
*/