/*navigation*/

nav ul{
	
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
}

nav li{
	 margin:0 1em;
}

nav a {
	text-decoration:none;
	color: black;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover, 
nav a :focus{
	color : white;
}

.current-page{
  border-bottom: 2px solid black;
  padding: 15px;
}

.current-page: hover {
	color:solid black;
}



/* 1ST page  */
h1{
	color:black;
}

body {
	margin:0;
	text-align: center;
	
}

/*   */
table{
	border-style: double;
}
	
/*2nd page  */

.rotateimg180 {
	-webkit-
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}