nav ul{
	
	list-style:none;
	padding:0;
	display:flex;
	justify-content:center;
}

nav li{
	 margin:0 1em;
}

nav a {
	text-decoration:none;
	color: black;
	font-weight: 700;
	padding: .25em 0;
}

nav a:hover, 
nav a :focus{
	color : white;
}

.current-page{
  border-bottom: 2px solid black;
  padding: 15px;
}

.current-page: hover {
	color:solid black;
}

/*2nd page  */


main{
	display:block;
	align-items: center;
	margin: 0 auto;
	max-width:98%;
	border: 1px solid black;
	
}


body {
	margin:0;
	text-align: center;
}

img{
	
	transform : rotate(90deg);
	border: 1px solid black;
	margin: 20px;
	object-fit: scale-down;
	padding: 1%;
	transition: 6s linear;
}
	
img: hover{
	transform:rotatey(360deg);
}
/*img  {
    width: 200px;
	object-fit: cover;
    padding: 0px;
	transform : rotate(90deg);
	border: none;
	display:block;
	margin: 0 auto;
	max-width:400px;
	border: 1px solid black;
	position : relative;
	top: 24px;
}


/* 
img {
    position: absolute;
    clip: rect(20px,60px,200px,0px);
}
Values:
clip: rect(top offset, visible width, visible height, left offset)

The first number indicates the top offset - the top edge of the clipping window.
The second number is the width of the clipping window plus the left offset(last number).
The third number is the height of the clipping window plus the top offset(first number).
The last number indicates the left offset - the left edge of the clipping window.
*/